<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafaelliberato.exemploead_elembasico"
    android:versionCode="1"
    android:versionName="1.0" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.ImagePage"
            android:label="@string/title_activity_image_page" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.EditTextPage"
            android:label="@string/title_activity_edit_text_page" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.CheckBoxPage"
            android:label="@string/title_activity_check_box_page" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.LayoutPage"
            android:label="@string/title_activity_layout_page" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico.ButtonPage"
            android:label="@string/title_activity_button_page" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_layouts.LinearLayoutHorizontal"
            android:label="@string/title_activity_linear_layout_horizontal" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_layouts.LinearLayoutVertical"
            android:label="@string/title_activity_linear_layout_vertical" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_layouts.RelativeLayout"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_TabHost.TabHostPage"
            android:label="@string/title_activity_tab_host" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_layouts_GridView.GridViewPage"
            android:label="@string/title_activity_grid_view" >
        </activity>

        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_TabHost.Mobile"
            android:label="@string/title_activity_mobile" >
        </activity>
        <activity
            android:name="com.example.rafaelliberato.exemploelembasicos.exemploead_elembasico_TabHost.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
